* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app-left {
  flex: 0.9;
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app-states {
  display: flex;
  justify-content: space-between;
}


@media(max-width:900px) {
  .app {
    flex-direction: column;
  }
}